@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet Popup Styling Override */
.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.leaflet-popup-content {
  margin: 0 !important;
  line-height: inherit;
}